<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
  <title>EI1027 - ODS Project</title>
  <meta charset="UTF-8"/>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">
</head>
<body>
<div layout:fragment="content">

<table class="table table-striped" th:each="initiative: ${myInitiatives}">
  <tr><td>
    <a class="txt" th:text="${initiative.nameIni}"></a>
    <span th:if="${initiative.stat == 'Pending'}"><b>(PENDIENTE)</b></span>
    <p class="txt-sec" th:text="${#strings.abbreviate(initiative.description,150)}"></p>
    <a class="boton_secundario color_verde" th:unless="${initiative.stat == 'Pending'}">AGREGAR RESULTADOS</a>
    <a class="boton_secundario color_rojo_0" th:unless="${initiative.stat == 'Pending'}">EDITAR</a>
    <a class="boton_secundario" th:if="${initiative.stat != 'Pending'}">GESTIONAR PARTICIPANTES</a>
  </td>
  </tr>
</table>
<a href="add" class="color_verde boton_principal">NUEVA INICIATIVA</a>
</div>
</body>
</html>

