<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
  <title>EI1027 - ODS Project</title>
  <meta charset="UTF-8"/>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">
</head>
<body>
<div layout:fragment="content">


<div class="floater_wrapper">
  <div class="floater_left table_principal_0">
    <div th:if="${myInitiatives.isEmpty()}">
      <p class="txt"><b>No tienes iniciativas 🥺☠</b></p>
    </div>
    <table class="table" th:each="initiative: ${myInitiatives}" th:object="${session}">
      <tr><td>
        <a class="txt" th:text="${initiative.nameIni}"></a>
        <span class="txt" th:if="${initiative.stat == 'Pending'}"><b>(PENDIENTE)</b></span>
        <span class="txt" th:if="${initiative.stat == 'Rejected'}"><b>(RECHAZADA)</b></span>
        <span class="txt" th:if="${initiative.stat == 'Ended'}"><b>(FINALIZADA)</b></span>
        <p class="txt-sec" th:text="${#strings.abbreviate(initiative.description,150)}"></p>
        <a class="boton_secundario color_verde" th:href="@{/myInitiative/addResult/{nIni}/(nIni=${initiative.getNameIni()})}" th:if="${initiative.stat == 'Approved'}">AGREGAR RESULTADOS</a>
        <a class="boton_secundario color_rojo_0" th:href="@{/myInitiative/update/{nIni}/(nIni=${initiative.getNameIni()})}" th:if="${initiative.stat == 'Approved' && session.user.getMail() == initiative.mail}">EDITAR</a>
        <a class="boton_secundario color_amarillo" th:if="${initiative.stat == 'Approved' && session.user.getMail() == initiative.mail}">GESTIONAR PARTICIPANTES</a>
      </td>
      </tr>
    </table>
  </div>
  <div class="floater_right top_pinned">
    <a href="add" class="txt_sec2 color_verde boton_principal">NUEVA INICIATIVA</a>
  </div>
</div>


</div>
</body>
</html>

