<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
  <title>EI1027 - ODS Project</title>
  <meta charset="UTF-8"/>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">
</head>
<body>
<div layout:fragment="content">


<div class="floater_wrapper">
  <div class="floater_left table_principal_0">
    <div th:if="${myInitiatives.isEmpty()}">
      <p class="txt"><b>No tienes iniciativas 🥺☠</b></p>
    </div>
    <a th:href="@{/area}" class="txt_sec2 color_amarillo boton_principal top_pinned">VOLVER ATRÁS</a><p></p>
    <table class="table" th:each="initiative: ${myInitiatives}" th:if="${initiative.stat == 'Approved' && session.user.getMail() == initiative.mail}" th:object="${session}">
      <tr><td>
        <a class="txt" th:href="@{/myInitiative/view/{nIni}/(nIni=${initiative.getNameIni()})}" th:text="${initiative.nameIni}"></a>

        <p class="txt-sec" th:text="${#strings.abbreviate(initiative.description,150)}"></p>
        <a class="boton_secundario color_verde" th:href="@{/myInitiative/addResult/{nIni}/(nIni=${initiative.getNameIni()})}" >AGREGAR RESULTADOS</a>
        <a class="boton_secundario color_rojo_0" th:href="@{/myInitiative/update/{nIni}/(nIni=${initiative.getNameIni()})}" >EDITAR</a>
        <a class="boton_secundario color_amarillo" th:href="@{/initiative_participation/addParticipant/{nIni}/(nIni=${initiative.getNameIni()})}" >GESTIONAR PARTICIPANTES</a>
      </td>
      </tr>
    </table>
    <table class="table" th:each="initiative: ${myInitiatives}" th:if="${initiative.stat == 'Approved' && session.user.getMail() != initiative.mail}" th:object="${session}">
      <tr><td>
        <a class="txt" th:href="@{/myInitiative/view/{nIni}/(nIni=${initiative.getNameIni()})}" th:text="${initiative.nameIni}"></a>
        <p class="txt-sec" th:text="${#strings.abbreviate(initiative.description,150)}"></p>
        <a class="boton_secundario color_verde" th:href="@{/myInitiative/addResult/{nIni}/(nIni=${initiative.getNameIni()})}">AGREGAR RESULTADOS</a>
      </td>
      </tr>
    </table>
    <table class="table" th:each="initiative: ${myInitiatives}" th:if="${initiative.stat == 'Pending'}" th:object="${session}">
      <tr><td>
        <a class="txt" th:href="@{/myInitiative/view/{nIni}/(nIni=${initiative.getNameIni()})}" th:text="${initiative.nameIni}"></a>
        <span class="txt" ><b>(PENDIENTE)</b></span>
        <p class="txt-sec" th:text="${#strings.abbreviate(initiative.description,150)}"></p>
      </td>
      </tr>
    </table>
    <table class="table" th:each="initiative: ${myInitiatives}" th:if="${initiative.stat == 'Ended'}" th:object="${session}">
      <tr><td>
        <a class="txt" th:href="@{/myInitiative/view/{nIni}/(nIni=${initiative.getNameIni()})}" th:text="${initiative.nameIni}"></a>
        <span class="txt" ><b>(FINALIZADA)</b></span>
        <p class="txt-sec" th:text="${#strings.abbreviate(initiative.description,150)}"></p>
      </td>
      </tr>
    </table>
    <table class="table" th:each="initiative: ${myInitiatives}" th:if="${initiative.stat == 'Rejected'}" th:object="${session}">
      <tr><td>
        <a class="txt" th:href="@{/myInitiative/view/{nIni}/(nIni=${initiative.getNameIni()})}" th:text="${initiative.nameIni}"></a>
        <span class="txt"><b>(RECHAZADA)</b></span>
        <p class="txt-sec" th:text="${#strings.abbreviate(initiative.description,150)}"></p>
      </td>
      </tr>
    </table>
  </div>
  <div class="floater_right top_pinned">
    <a href="add" class="txt_sec2 color_verde boton_principal">NUEVA INICIATIVA</a>
  </div>
</div>
</div>
</body>
</html>

