<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Gestionar Subscripciones</title>
  <meta charset="UTF-8" />
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
  <h1>Llista de Subscripciones</h1>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Id subscripcion</th>
      <th>Mail</th>
      <th>Nombre de Ods</th>
      <th>Fecha inicio</th>
      <th>Fecha fin</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="subscription: ${allSubscription}">
      <td th:text="${subscription.idSub}"></td>
      <td th:text="${subscription.mail}"></td>
      <td th:text="${subscription.nameOds}"></td>
      <td th:text="${subscription.initialDate}"></td>
      <td th:text="${subscription.endDate}"></td>

    </tr>
    </tbody>
  </table>
  <a href="/" class="btn btn-primary">Tornar</a>
</div>
</body>
</html>

