<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
  <title>EI1027 - ODS Project</title>
  <meta charset="UTF-8"/>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">
</head>
<body>
<div layout:fragment="content">
  <table class="table table-striped" th:each="initiative: ${iniciativas}">
    <tr><td>
      <a class="txt" th:text="${initiative.nameIni}" th:href="@{/InitiativeBackOffice/view/{nom}(nom=${initiative.getNameIni()})}"></a>
      <p class="txt" th:text="${initiative.description}"></p>
      <a th:href="@{/InitiativeBackOffice/accept/{nom}(nom=${initiative.getNameIni()})}" class="boton_secundario color_verde">Aceptar</a>
      <a th:href="@{/InitiativeBackOffice/reject/{nom}(nom=${initiative.getNameIni()})}" class="boton_secundario color_rojo_2">Rechazar</a>
    </td>
    </tr>

  </table>
</div>
</body>
</html>

