<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">

<div layout:fragment="content">

    <div class="centered_text">
        <p class="txt">La Iniciativa <i th:text="${iniciativa.nameIni}"></i> ha sido<br><b>RECHAZADA</b></p>
        <p class="txt_sec">La Iniciativa no sera eliminada pero pasará a figurar como rechazada</p>
        <!--<a class="boton_principal color_verde" th:href="@{/InitiativeBackOffice/view/{nom}(nom=${iniciativa.getNameIni()})}">IR A LA INICIATIVA</a>-->
        <a class="boton_principal color_amarillo" th:href="@{/InitiativeBackOffice/list}"> VOLVER A LA LISTA</a>

    </div>

</div>>
</html>