<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title>EI1027 - ODS Project</title>
    <meta charset="UTF-8"/>
</head>
<body>
<div layout:fragment="content">

<div class="floater_wrapper centered_text">
    <p class="txt centered_text"><b>¿Que acción deseas realizar? 🤔</b></p>
    <ul class="txt centered_h">
        <li><a href="/member_subscription/list_sdg">Suscribirme a un SDG</a></li>
<!--        <li><a href="error">Participar en una iniciativa</a></li>-->
        <li><a href="/myInitiative/list">Gestionar mis Iniciativas</a></li>
    </ul>
</div>



</div>
</body>
</html>