<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Modifica una Iniciativa</title>
  <meta charset="UTF-8" />
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<h2>Modifica la iniciativa <span th:text="${initiative.nameIni}"> </span></h2>
<form action="#" th:action="@{/initiative/update}"
      th:object="${initiative}" method="post">
  <input type="hidden" th:field="*{nameIni}"/>
  <table>
    <tr>
      <td><label>Descripció</label></td>
      <td><input type="text" th:field="*{description}" /></td>
    </tr>
    <tr>
      <td><label>Data de inici</label></td>
      <td><input type="date" th:field="*{startDate}" /></td>
    </tr>
    <tr>
      <td><label>Data de fi</label></td>
      <td><input type="date" th:field="*{endDate}" /></td>
    </tr>
    <tr>
      <td><label>Estat</label></td>
      <td><input type="text" th:field="*{stat}" /></td>
    </tr>
    <tr>
      <td><label>Progrés</label></td>
      <td><input type="number" th:field="*{progress}" /></td>
    </tr>
    <tr>
      <td><label>Mail</label></td>
      <td><input type="text" th:field="*{mail}" /></td>
    </tr>
    <tr>
      <td><label>ODS relacionat</label></td>
      <td><input type="text" th:field="*{nameOds}" /></td>
    </tr>
    <tr>
      <td colspan="2"><input type="submit" value="Modifica Iniciativa" /></td>
    </tr>
  </table>
</form>
</body>
</html>
