<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Modifica un membre</title>
  <meta charset="UTF-8" />
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<h2>Modifica al membre <span th:text="${ujiParticipant.nameMem}"></span></h2>
<h3>Amb mail <span th:text="${ujiParticipant.mail}"></span></h3>
<form action="#" th:action="@{/uji_participant/update}"
      th:object="${ujiParticipant}" method="post">
  <input type="hidden" th:field="*{mail}"/>
  <table>
    <tr>
      <td><label>Nom</label></td>
      <td><input type="text" th:field="*{nameMem}" /></td>
    </tr>
    <tr>
      <td><label>Tipus</label></td>
      <td><input type="text" th:field="*{usrType}" /></td>
    </tr>
    <tr>
      <td><label>Genre</label></td>
      <td><input type="text" th:field="*{gender}" /></td>
    </tr>
    <tr>
      <td><label>Telefon</label></td>
      <td><input type="text" th:field="*{phone}" /></td>
    </tr>
    <tr>
      <td colspan="2"><input type="submit" value="Modifica membre" /></td>
    </tr>
  </table>
</form>
</body>
</html>
