<nav class="navbar navbar-expand-sm navbar-light bg-grey custom-navbar">
    <ul class="navbar-nav flex-row navbar-gap">
        <li class="nav-item" ><a class="nav-link text-dark" href="/fixme" th:href="@{/fixme}" th:classappend="${SELECTED_NAVBAR.equals('SDGs')} ? bold">SDGs</a></li>
        <li class="nav-item" ><a class="nav-link text-dark" href="/fixme" th:href="@{/fixme}" th:classappend="${SELECTED_NAVBAR.equals('Iniciativas')} ? bold">Iniciativas</a></li>
        <li class="nav-item" ><a class="nav-link text-dark" href="/front_office/area_privada.html" th:href="@{/front_office/area_privada.html}" th:classappend="${SELECTED_NAVBAR.equals('Área privada')} ? bold">Área privada</a></li>
    </ul>
</nav>
