<nav class="navbar navbar-expand-sm navbar-light color_gris custom-navbar">
    <ul class="navbar-nav flex-row navbar-gap txt">
        <li class="nav-item" ><a class="nav-link text-dark link_camuflado" href="/" th:href="@{/}" th:classappend="${SELECTED_NAVBAR != null && SELECTED_NAVBAR.equals('SDGs')} ? bold">SDGs</a></li>
        <li class="nav-item" ><a class="nav-link text-dark link_camuflado" href="/fixme" th:href="@{/initiative/list}" th:classappend="${SELECTED_NAVBAR != null && SELECTED_NAVBAR.equals('Iniciativas')} ? bold">Iniciativas</a></li>
        <li class="nav-item" ><a class="nav-link text-dark link_camuflado" href="/area" th:href="@{/area}" th:classappend="${SELECTED_NAVBAR != null && SELECTED_NAVBAR.equals('Área privada')} ? bold">Área privada</a></li>
    </ul>
</nav>