.page-header {
    color: black;
    height: 100px;

    display: flex;
    align-items: center;
    justify-content: left;

    padding-left: 40px;
}

.page-anonymous-background {
    background-color:cornflowerblue;
}

.page-user-background {
    background-color:limegreen;
}

.page-admin-background {
    background-color:indianred;
}

.page-h1 {
    font-weight: bold;
    font-size: xx-large;
    margin: 0;
}

.bg-grey {
    background-color: #e5e5e5;
}

.custom-navbar {
    height:30px;
}
.navbar-gap {
    gap: 10px;
}

.bold {
    font-weight: bold;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}