<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
  <title>EI1027 - ODS Project</title>
  <meta charset="UTF-8"/>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">
</head>
<body>
<div layout:fragment="content">
  <h1 th:text="${nODS}"></h1>
  <div class="centered_text" th:if="${allTarget.isEmpty()}">
    <p class="txt"><b>No hay targets</b></p>
  </div>
  <table class="table " >
    <tr th:each="target: ${allTarget}"><td>
      <a class="txt spaced_txt" th:text="${target.nameTarg}" th:href="@{/target/view/{nODS}/{nom}(nom=${target.getNameTarg()},nODS=${nODS})}"></a> <br>
      <span class="txt_sec spaced_txt" th:text="${#strings.abbreviate(target.description,150)}"></span> <br>
    </td>
    </tr>
    <tr>
      <td>    <a th:href="@{/target/add/{ods}(ods=${nODS})}" class="txt_sec2 color_verde boton_principal">Añadir target</a>
        <a th:href="@{/view/{ods}(ods=${nODS})}" class="txt_sec2 color_amarillo boton_principal">Volver Atrás</a>
    </tr>
  </table>


</div>
</body>
</html>
