<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">

<body marginwidth="0" marginheight="0">
<div class="container" layout:fragment="content">
        <p class="txt centered_text"><b>
                Lo sentimos, se ha producido un error inesperado.<br>
                Disculpe las molestias, vuelva a intentarlo más tarde...<br><br>

                Nuestros profesionales ya estan trabajando en una solución 🧙‍♀️🧙‍♂️
        </b></p>
</div>
</body>
</html>
