<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}"
      >
<head>
  <link rel="stylesheet" type="text/css"
        href="/css/natacio.css"
        th:href="@{/css/ods.css}"/>
  <title>Login</title>
  <meta charset="UTF-8"/>
</head>
<body>
<div layout:fragment="content">
  <h2>Accés</h2>
  <form action="#" th:action="@{/login}"
        th:object="${user}" method="post">
    <p>
      <label>Nom d'usuari:</label>
      <input class="form_control" type="text" th:field="*{username}"/>
    <div class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
    </p>
    <p>
      <label>Contrasenya:</label>
      <input class="form_control" type="password" th:field="*{password}"/>
    <div class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
    </p>
    <input type="submit" value="Accedir" />
  </form>
</div>
</body>
</html>
