<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title>EI1027 - ODS Project</title>
    <meta charset="UTF-8"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">
</head>
<body>
<div layout:fragment="content">
    <p>
        <a th:href="@{/initiative/list}" class="txt_sec2 color_azul_0 boton_principal">Ver Iniciativas Actuales</a>
        <br>
    </p>

    <div class="centered_text" th:if="${allInitiative.isEmpty()}">
        <p class="txt"><b>No hay Iniciativas</b></p>
    </div>
    <div th:unless="${allInitiative.isEmpty()}" th:each="ods: ${allOds}">

        <h5><span th:text="${ods.getIndex() + '. '+ods.getNameOds()}"></span></h5>
        <div th:each="target: ${OdsByTarget.get(ods.getNameOds())}">
            <h8 th:text="${target.getNameTarg()}" th:unless="${allInitiative.get(target.getNameTarg()) == null}"></h8>

            <table class="table " th:unless="${allInitiative.get(target.getNameTarg()) == null}" >
                <tr th:each="initiative: ${allInitiative.get(target.getNameTarg())}"><td>
                    <a class="txt spaced_txt" th:text="${initiative.nameIni}" th:href="@{/initiative/view/{nIni}/(nIni=${initiative.getNameIni()})}"></a> <br>
                    <span class="txt_sec spaced_txt" th:text="${#strings.abbreviate(initiative.description,150)}"></span> <br>
                </td>
                </tr>
            </table>
        </div>



    </div>
</div>
</body>
</html>
