<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Modifica un nadador</title>
  <meta charset="UTF-8" />
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<h2>Modifica al nadador <span th:text="${nadador.nom}"> </span></h2>
<form action="#" th:action="@{/nadador/update}"
      th:object="${nadador}" method="post">
  <input type="hidden" th:field="*{nom}"/>
  <table>
    <tr>
      <td><label>Num. Federat</label></td>
      <td><input type="text" th:field="*{numFederat}" /></td>
    </tr>
    <tr>
      <td><label>Pais</label></td>
      <td><input type="text" th:field="*{pais}" /></td>
    </tr>
    <tr>
      <td><label>Edat</label></td>
      <td><input type="number" th:field="*{edat}" /></td>
    </tr>
    <tr>
      <td><label>Genere</label></td>
      <td><input type="text" th:field="*{genere}" /></td>
    </tr>
    <tr>
      <td colspan="2"><input type="submit" value="Modifica nadador" /></td>
    </tr>
  </table>
</form>
</body>
</html>
