<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title>EI1027 - ODS Project</title>
    <meta charset="UTF-8"/>
</head>
<body>
<div layout:fragment="content">
    <img class="img_principal" th:src="@{/imagenes/bannerval.jpg}">
    <br>
    <div class="floater_wrapper centered_text">
        <ul >
            <li th:each="ods: ${allOds}">
                <a class="txt spaced_txt" th:text="${ods.index + '. ' + ods.nameOds}" th:href="@{/view/{nom}(nom=${ods.getNameOds()})}"></a> <br>
            </li>
        </ul>
        <br>
        <br>
            <a th:href="@{/add}" class="txt_sec2 color_verde boton_principal">Añadir SDG</a>
    </div>
</div>
</body>
</html>
