<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
  <title>EI1027 - ODS Project</title>
  <meta charset="UTF-8"/>
</head>
<body>
<div layout:fragment="content">
  <img class="img_principal" th:src="@{/imagenes/bannerval.jpg}">
  <br>
  <div class="floater_wrapper centered_text">
    <ol>
      <li class="txt" th:each="ods: ${allOds}"><a href="" th:text="${ods.nameOds}"></a></li>
    </ol>
  </div>
</div>
</body>
</html>
