<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">

<div layout:fragment="content">
<h2>Modifica al Ods <span th:text="${ods.nameOds}"> </span></h2>
  <form action="#" th:action="@{/update}"
        th:object="${ods}" method="post">
    <input type="hidden" th:field="*{nameOds}"/>
    <table>
      <tr>
        <td><label>Índice</label></td>
        <td><input type="number" th:field="*{index}" /></td>
      </tr>
      <tr>
        <td><label>Relevancia</label></td>
        <td><input type="number" th:field="*{relevance}" /></td>
      </tr>
      <tr>
        <td><label>Axis</label></td>
        <td><input type="text" th:field="*{axis}" /></td>
      </tr>
      <tr>
        <td><label>Descripció</label></td>
        <td><input type="text" th:field="*{description}" /></td>
      </tr>
      <tr>
        <td colspan="2"><input type="submit" value="Modifica Ods" /></td>
      </tr>
    </table>
  </form>
</div>
</html>
